<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wonderlsut</title>
    <link rel="stylesheet" href="/styles/show.css" />
  </head>
  <body>
    <div class="listing-container">
      <h1><%= listing.title %></h1>
      <ul class="listing-details">
        <li><strong>Location:</strong> <%= listing.location %></li>
        <li><strong>Country:</strong> <%= listing.country %></li>
        <li><strong>Price:</strong> ₹<%= listing.price %></li>
        <li><strong>Description:</strong> <%= listing.description %></li>
      </ul>
      <img
        src="<%= listing.image.url %>"
        alt="Listing Image"
        class="listing-image"
      />
    </div>
  </body>
</html>
